<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="Modules\Toolkit.Modules.ModuleName.dll"
            moduleType="Toolkit.Modules.ModuleName.ModuleNameModule, Toolkit.Modules.ModuleName, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ModuleNameModule" startupLoaded="True" />
    <module assemblyFile="Modules\Toolkit.Modules.ReferanceAssembliesManager.dll"
            moduleType="Toolkit.Modules.ReferanceAssembliesManager.ReferanceAssembliesManagerModule, Toolkit.Modules.ReferanceAssembliesManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ReferanceAssembliesManagerModule" startupLoaded="True" />
    <module assemblyFile="Modules\Toolkit.Modules.ColorTable.dll"
            moduleType="Toolkit.Modules.ColorTable.ColorTableModule, Toolkit.Modules.ColorTable, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ColorTableModule" startupLoaded="false" />
  </modules>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="Modules;Assembly" />
    </assemblyBinding>
  </runtime>
</configuration>